parameters:
    # The default locale
    locale: en
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Database setup
    read_database_url: 'mysql://root:root@localhost/{$READ_DATABASE}'
    write_database_url: 'mysql://root:root@localhost/{$WRITE_DATABASE}'

    # RabbitMQ setup
    rabbitmq_url: 'amqp://guest:guest@localhost:5672?lazy=1'
